[data-md-color-scheme="slate"] {
  --md-hue: 200; 
  /* --md-default-bg-color: #424242; */
}
[data-md-color-scheme="default"] {
  --md-default-bg-color: #f3f3f3;
}


.md-tabs {
    background-color: var(--md-primary-fg-color--dark);
}
