[submodule "eva-docs-builder"]
	path = eva-docs-builder
	url = git@github.com:EVA-3D/eva-docs-builder.git
[submodule "docs/drives/bowden"]
	path = docs/drives/bowden
	url = git@github.com:EVA-3D/eva-bowden.git
[submodule "docs/drives/bmg"]
	path = docs/drives/bmg
	url = git@github.com:EVA-3D/eva-bmg.git
[submodule "docs/drives/titan"]
	path = docs/drives/titan
	url = git@github.com:EVA-3D/eva-titan.git
[submodule "docs/addons/x_endstop"]
	path = docs/addons/x_endstop
	url = git@github.com:EVA-3D/addon-endstops.git
[submodule "docs/addons/mgn15"]
	path = docs/addons/mgn15
	url = git@github.com:EVA-3D/addon-mgn15.git
[submodule "docs/drives/aero"]
	path = docs/drives/aero
	url = git@github.com:EVA-3D/eva-aero.git
[submodule "docs/addons/fan-ducts"]
	path = docs/addons/fan-ducts
	url = git@github.com:EVA-3D/addon-fan-ducts.git
[submodule "docs/addons/cartesian_idex"]
	path = docs/addons/cartesian_idex
	url = git@github.com:EVA-3D/addon-cartesian-idex.git
[submodule "libs/mkdocs-material-insiders"]
	path = libs/mkdocs-material-insiders
	url = https://github.com/squidfunk/mkdocs-material-insiders.git
[submodule "docs/drives/hemera"]
	path = docs/drives/hemera
	url = git@github.com:EVA-3D/eva-hemera.git
[submodule "docs/addons/probes"]
	path = docs/addons/probes
	url = git@github.com:EVA-3D/addon-probes.git
[submodule "docs/drives/orbiter"]
	path = docs/drives/orbiter
	url = git@github.com:EVA-3D/eva-orbiter.git
